.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    var(--color-icon) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin-left: 2px;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}

.rating-star {
  --color-icon: #fc7c21;
}

.rating-star {
  --font-size: 2;
  --letter-spacing: 0.1;
}

.info_section_size {
  height: auto;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_section_size {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 0;
}

.badge_box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  position: absolute;
  top: -10px;
  overflow: visible;
}

.card_type_cbd {
  padding: 1px 5px;
  border-radius: 4px;
  font-size: 1.2rem;
  border: solid #fc7c21 2px;
}

.card_percent_cbd {
  border-radius: 4px;
  border: solid #fc7c21 2px;
  padding: 1px, 10px;
  font-size: 1.2rem;
  width: 50px;
}

.card_object_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form_button_cart {
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  -moz-appearance: none;   
  appearance: none; 
}

.quantity-selector {
  padding: 0.6rem;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: rgb(229, 229, 234);
  color: #000;
  border-radius: 9px;
  text-align: center;
  margin-bottom: 5px;
  border: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.evaluation_container {
  display: flex;
  margin-top: 2px;
  align-items: center;
}

@media screen and (max-width: 989px) {
  .card_type_cbd {
    padding: 2px;
    font-size: 1rem;
  }
  .card_percent_cbd {
    padding: 2px;
    font-size: 1rem;
  }
  .rating-count {
    display: inline-block;
    font-size: 1rem;
  }
}
