.brands-wrapper{
  padding: 0 10px;
}
.brands-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
.brand__image {
  opacity: 0.5;
  filter:grayscale(1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.brand__image:hover {
  opacity: 1;
  filter:grayscale(0);
}
.brand__image-active {
  opacity: 1;
  filter:grayscale(0);
}

@media screen and (max-width: 990px) {
  label.brand__image svg {
    width: 115px;
    height: 62px;
  }
}
@media screen and (max-width: 749px) {
  .brands-container {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    margin-top: 20px;
    overflow-x: scroll;
    width: 100%;
    flex-wrap: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .brands-container::-webkit-scrollbar {
    display: none;
  }
}